{{define "template.profile"}}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{{.title}} - Tøkōpëdiâ</title>

    <link rel="shortcut icon"href="{{.weburl}}/assets/imgs/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{{.weburl}}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{.weburl}}/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{.weburl}}/assets/css/blog-post.css" rel="stylesheet">
    <script src="{{.weburl}}/assets/js/jquery.min.js"></script>
    <link href="{{.weburl}}/assets/lib/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="{{.weburl}}/assets/lib/sweetalert/sweetalert.min.js"></script>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #40B649">
      <div class="container">
        <a class="navbar-brand" href="/">Tøkōpëdiâ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item" id="logout_atas">
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <br>

          <!-- Single Comment -->
          <div class="card my-8">
            <h5 class="card-header"><i class="fa fa-user"></i> Profile Pribadi</h5>
              <div class="card-body" id="halaman_utama">
                <div id="message"></div> 
                <div class="row">
                  <div class="col-lg-10">
                     <div>
                       <form role="form" id="profileform" method="post">
                          <div class="form-group row">
                              <label for="name" class="col-4 col-form-label">Nama :</label>
                              <div class="col-8">
                                <input class="form-control" name="name" type="text" value="{{.name}}" id="name">
                              </div>
                            </div>
                          <div class="form-group row">
                              <label for="email" class="col-4 col-form-label">Email :</label>
                              <div class="col-8">
                                  <input class="form-control" name="email" type="text" value="{{.email}}" id="email">
                              </div>
                            </div>
                          <div class="form-group row">
                              <label for="name" class="col-4 col-form-label">Phone Number :</label>
                              <div class="col-8">
                                <input class="form-control" type="text" name="msisdn" value="{{.msisdn}}" id="msisdn">
                                </div>
                              </div>
                       </form>
                       <div class="form-group row">
                          <label for="name" class="col-4 col-form-label"></label>
                          <div class="col-8">
                              </strong><button type="submit" class="btn btn-success" id="updateprofile"><i class="fa fa-user-o"></i> <strong>Update Profile</strong></button>
                            </div>
                          </div>
                     </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-10">
                    <div>
                       <form role="form" id="passwordform" method="post">
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Password Baru :</label>
                            <div class="col-8">
                                <input class="form-control" type="hidden" name="uid" value="{{.uid}}" id="uid">
                              <input class="form-control" name="password_lama" type="password" value="" id="password_lama">
                            </div>
                        </div>
                       </form>
                       <div class="form-group row">
                        <label for="name" class="col-4 col-form-label"></label>
                        <div class="col-8">
                            <button type="submit" class="btn btn-success" id="updatepassword"><i class="fa fa-lock"></i> <strong>Ganti Password</strong></button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Kategori</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#" style="color:#40B649">Fashion</a>
                    </li>
                    <li>
                      <a href="#" style="color:#40B649">Elektronik</a>
                    </li>
                    <li>
                      <a href="#" style="color:#40B649">Olahraga</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#" style="color:#40B649">Rumah Tangga</a>
                    </li>
                    <li>
                      <a href="#" style="color:#40B649">Ibu & Bayi</a>
                    </li>
                    <li>
                      <a href="#" style="color:#40B649">Otomotif</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Tøkōpëdiâ IT Security Pentest 2019</p>      </div>
    </footer>-->

    <!-- Bootstrap core JavaScript -->
    <script src="{{.weburl}}/assets/js/bootstrap.bundle.min.js"></script>
    <script>
      function GetURLParameter(sParam)
          {
          var sPageURL = window.location.search.substring(1);
          var sURLVariables = sPageURL.split('&');
          for (var i = 0; i < sURLVariables.length; i++)
          {
              var sParameterName = sURLVariables[i].split('=');
              if (sParameterName[0] == sParam)
              {
                  return sParameterName[1];
              }
          }
        }
      $(document).ready(function() {
        var userenp = "/profile"
        var html = ""

      var baseurl = "{{.weburl}}/verify_user"
        $.get(baseurl, function(data){
          var hasil = data[0].body;
          if(hasil !== ""){
            $("#halaman_utama").html(hasil);
            console.log(hasil);
          }
        })

        var baseurl_main = "{{.weburl}}/verify"
          $.get(baseurl_main, function(data){
              $("#logout_atas").html(data[0].atas)
          })

        $("#updateprofile").on('click', function(){
          data = $("#profileform").serialize()
          $.post(userenp, data)
          .done(function(response){
            if(response[0].success == "1"){
              html = "<div class=\"alert alert-success\">"+response[0].message+"</div>"
            }else{
              html = "<div class=\"alert alert-danger\">"+response[0].message+"</div>"
            }
            $("#message").html(html);
            $("#message").slideDown();
            $("#message").delay(2000).slideUp();
          })
        })

        var api_pass  = "/password"
        var html_pass = ""
        $("#message").html("");
        $("#updatepassword").on('click', function(){
          val_pass  = $("#password_lama").val()
          data_pass = $("#passwordform").serialize()
          if(val_pass == ""){
            //html_pass = "<div class=\"alert alert-danger\">Password baru belum diisi..</div>"
            swal("Oops!", "Password Baru Belum di isi!", "error");
          }else{
            $.post(api_pass, data_pass)
            .done(function(response){
              if(response[0].success == "1"){
                swal("Done!", "Password berhasil di update!", "success");
                $("#password_lama").val("")
                //$("#password_baru").val("")
                //html_pass = "<div class=\"alert alert-success\">"+response[0].message+"</div>"
              }else{
                swal("Oops!", response[0].message, "error");
                //html_pass = "<div class=\"alert alert-danger\">"+response[0].message+"</div>"
              }
            })
          }
          //$("#message").html(html_pass);
          //$("#message").slideDown();
        })
        
      });
    </script>
  </body>

</html>

{{end}}
